{% extends "base.html" %}
{% block title %}Info{% endblock %}
{% block content %}
    <div class="relative px-4 py-10 sm:rounded-3xl sm:p-20">
        <div class="bg-white">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="max-w-2xl lg:mx-auto lg:text-center">
                    <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">Veel Gestelde Vragen</h2>
                    <p class="mt-4 text-gray-500">Hier zijn enkele veelgestelde vragen met betrekking tot de captive portal.</p>
                </div>
                <div class="mt-20">
                    <dl class="space-y-10 lg:space-y-0 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:gap-y-10">
                        <div>
                            <dt class="font-semibold text-gray-900 border-b-2 border-red-600">Wat is een captive portal?
                            </dt>
                            <dd class="mt-3 text-gray-500">Een captive portal is een webpagina die aan gebruikers wordt
                                gepresenteerd wanneer ze voor het eerst verbinding maken met een wifi-netwerk in een
                                vliegtuig. De pagina vereist dat gebruikers inloggen en de servicevoorwaarden
                                accepteren voordat ze toegang krijgen tot internet.
                            </dd>
                        </div>
                        <div>
                            <dt class="font-semibold text-gray-900 border-b-2 border-red-600">Hoe log ik in op de
                                captive portal?
                            </dt>
                            <dd class="mt-3 text-gray-500">Om in te loggen op de captive portal, moet u de inloggegevens
                                van uw luchtvaartmaatschappij invoeren. Bij Corendon word er gebruik gemaakt van je naam
                                en ticket nummer.
                            </dd>
                        </div>
                        <div>
                            <dt class="font-semibold text-gray-900 border-b-2 border-red-600">Welke apparaten kunnen
                                worden gebruikt om toegang te krijgen tot de captive portal?
                            </dt>
                            <dd class="mt-3 text-gray-500">De captive portal is toegankelijk vanaf de meeste
                                Wi-Fi-apparaten, waaronder laptops, tablets en smartphones.
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
        </div>

    </div>
{% endblock %}